<template>
  <a-layout>
    <a-layout-header class="header">
      <a-menu class="header-wrapper" mode="horizontal">
        <div class="header-links-left">
          <router-link
            role="menuitem"
            class="ant-menu-item"
            to="/"
            active-class="ant-menu-item-selected"
            >Home
          </router-link>
        </div>
        <div class="header-links-right">
          <a role="menuitem" class="ant-menu-item" @click="logout">Logout</a>
        </div>
      </a-menu>
    </a-layout-header>
    <a-layout-content><slot></slot></a-layout-content>
    <a-layout-footer> Copyright © Vlatko Kjosev </a-layout-footer>
  </a-layout>
</template>

<script>
import { defineComponent } from "vue";
import { leftToExpire } from "../router/utils";
let timer = null;
export default defineComponent({
  name: "Layout",
  inject: ["logout"],
  mounted() {
    timer = setTimeout(() => {
      this.logout();
    }, leftToExpire());
  },
  unmounted() {
    clearTimeout(timer);
  },
});
</script>

<style scoped>
.header-wrapper {
  background-color:transparent;
  line-height: 64px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-links-left {
  flex: 12;
  display: flex;
  justify-content: flex-start;
}
.header-links-right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}
</style>