<template>
  <router-view />
</template>

<script>
import { computed } from "vue";
import { removeSession, createSession } from "./router/utils";
export default {
  name: "App",
  data() {
    return { user: { id: 1, email: "Vlatko" } };
  },
  created() {
    const userData = localStorage.getItem("user");
    if (userData) this.user = JSON.parse(userData);
  },
  provide() {
    return {
      user: computed(() => this.user),
      loggedIn: this.authUser,
      logout: this.logout,
    };
  },
  methods: {
    authUser(data) {
      if (createSession(data)) {
        this.user = data.user;
        if (this.$route.params.nextUrl != null) {
          return this.$router.replace(this.$route.params.nextUrl);
        }
        this.$router.replace({ name: "Home" });
      }
    },
    logout() {
      removeSession();
      this.$router.replace({ name: "Login" });
    },
  },
};
</script>


