@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: white;
}

a,
a:hover,
a:active,
a:focus {
  color: white;
  text-decoration: none;
  display: inline-block;
}

h1 {
  color: #333333;
  font-size: 3em;
  margin-bottom: 1em;
  line-height: 1.2em;
  font-weight: 700;
}

h2 {
  color: #333333;
  font-size: 2.2em;
  margin-bottom: 1em;
  line-height: 1em;
  font-weight: 700;
}

h3 {
  color: #333333;
  font-size: 2em;
  margin-bottom: 1em;
  line-height: 1em;
  font-weight: 700;
}

p {
  color: #333333;
  font-size: 1.8em;
  line-height: 1.4em;
  font-weight: 300;
}

#app {
  text-align: center;
  height: 100%;
  width: 100%;
}
.error-input {
  border-color: indianred;
}
.form-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg)
    no-repeat center;
  background-size: cover;
}
.auth-form {
  width: 400px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.auth-form a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.auth-form .ant-row {
  display: flex;
  justify-content: center;
}

/** ANTD OVERRIDES */

/** Layout */
.ant-layout-header {
  background-color: burlywood;
}
.ant-layout-content {
  padding: 3em;
  height: 900px;
}
.ant-layout-footer {
  color: white;
  background-color: burlywood;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: bold;
}

/** Menu*/
.ant-menu-item-selected {
  background-color: #faa41f;
  color: white;
}
.ant-menu-item:hover {
  background-color: #f5970a;
  color: white;
}

/** Inputs */

.ant-input {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid lightgray;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  -webkit-box-shadow: rgba(33, 33, 33, 0.1) 0px 0px 11px;
  -moz-box-shadow: rgba(33, 33, 33, 0.1) 0px 0px 11px;
  box-shadow: rgba(33, 33, 33, 0.1) 0px 0px 11px;
}

.has-error .ant-input {
  border: 2px solid indianred;
}

.ant-input:hover {
  border: 1px solid lightgray;
}

.ant-input:focus,
.ant-input:active {
  outline: none !important;
  border-color: #faa41f !important;
  -webkit-box-shadow: rgba(33, 33, 33, 0.1) 0px 0px 11px;
  -moz-box-shadow: rgba(33, 33, 33, 0.1) 0px 0px 11px;
  box-shadow: rgba(33, 33, 33, 0.1) 0px 0px 11px;
}

/** Card */

.ant-card {
  background-color: burlywood;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 1em 1em 2em;
}

.ant-card-head-title {
  color: white;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
}

/** Button */

.ant-btn,
.ant-btn:focus,
.ant-btn:active {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  height: 2.7em;

  font-size: 15px;
  padding: 0.6em 2em;
  font-weight: 700;
  line-height: 1.2em;
  border: 2px solid #faa41f;
  background: #faa41f;
  color: white;
}

.ant-btn.medium {
  font-size: 14px;
}
.ant-btn.large {
  font-size: 18px;
}

.ant-btn.ant-btn-background-ghost {
  border-width: 3px;
}

.ant-btn:hover {
  background: #f5970a;
  border-color: #f5970a;
  color: white;
  box-shadow: rgba(33, 33, 33, 0.1) 0px 0px 11px;
}
.ant-btn.ant-btn-background-ghost:hover {
  background: #f5970a;
}
.ant-btn:focus {
  outline: none;
}

/** Form */

.ant-form label {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.auth-form .ant-form-item-children {
  display: flex;
  flex-direction: column;
}
