<template>
  <layout>
    <div class="hello">
      <h1>This is the homepage</h1>
      
      <h2 v-if="user.value.id">USER: {{ user.value.email }}</h2>

    </div>
    </layout>
</template>

<script>
import Layout from "../components/Layout";
export default {
  name: "Home",
  components: {
    layout: Layout,
  },
  inject: ['user'],
};
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}
</style>