<template>
  <div class="form-wrapper">
    <a-card title="Register" class="auth-form">
      <a-form :model="form" :wrapper-col="wrapperCol">
        <a-form-item :validate-status="emailError ? 'error' : ''">
          <a-input
            size="large"
            v-model:value="form.email"
            placeholder="Email"
          />
        </a-form-item>
        <a-form-item :validate-status="passError ? 'error' : ''">
          <a-input
            size="large"
            type="password"
            v-model:value="form.password"
            placeholder="Password"
          />
        </a-form-item>
        <a-form-item :validate-status="passError ? 'error' : ''">
          <a-input
            size="large"
            type="password"
            v-model:value="form.confirm"
            placeholder="Confirm password"
          />
        </a-form-item>
        <a-form-item class="auth-buttons">
          <a-button
            class="large"
            @click="sendRequest(url, true)"
            :loading="loading"
          >
            Register
          </a-button>
        </a-form-item>
        <router-link :to="{ name: 'Login' }" v-show="!loading">
          Login instead
        </router-link>
      </a-form>
    </a-card>
  </div>
</template>

<script>
import formValid from "../mixins/formValid";

export default {
  name: "Register",
  mixins: [formValid],
  data: () => {
    return {
      wrapperCol: { span: 20 },
      url: `${process.env.VUE_APP_API_URL}/auth/register`,
    };
  },
};
</script>